<div class="pub-list-item" style="margin-bottom: 1rem" itemscope itemtype="http://schema.org/CreativeWork">
  <i class="fa fa-file-text-o pub-icon" aria-hidden="true"></i>
  <span itemprop="name">{{ .Title | markdownify }}</span>
  <br>
  <span style="font-size:80%;">
    {{ if .Params.inreview }}
    In Review | {{ .Params.publication | markdownify }}
    {{ else if .Params.inpress }}
    In Press | {{ .Params.publication | markdownify }}
    {{ else }}
    {{ .Date.Format "2006" }} | {{ .Params.publication | markdownify }}
    {{ end }}
  </span>
  <br>
  <span class="pub-authors2" itemprop="author" style="font-size:80%;">
    {{ with .Params.authors }}
    {{ delimit . ", " | markdownify }}
    {{ end }}
  </span>
  <p>{{ partial "publication_links" (dict "content" . "is_list" 1) }}</p>
</div>

