
/*************************************************
 *  Core
 **************************************************/

 #profile .portrait {
   background-image: url('../img/portrait.jpg');
   width: 300px;
   height: 300px;
   margin: 0 auto;
   border-radius: 50%;
   background-size: cover;
   -webkit-background-size: cover;
   -moz-background-size: cover;
 }

 .home-section {
   background-color: rgb(255, 255, 255);
   padding: 110px 0 110px 0;
   animation: intro 0.3s both;
   animation-delay: 0.15s;
 }

 .home-section:nth-of-type(even) {
   background-color: rgba(247, 249, 250);
 }

/* Headings */

a,
h3.article-title a:hover {
  color: rgb(243, 134, 48);
}

h4 {
  color: rgb(105, 210, 231);
}

a:hover,
a:focus {
  color: rgb(250, 105, 0);
}

a.jobtitle {color:rgb(105, 210, 231);}
a.jobtitle:link  {text-decoration: none; color: rgb(105, 210, 231);}
a.jobtitle:visited {text-decoration: none; color: rgb(105, 210, 231);}
a.jobtitle:hover {text-decoration: underline; color: rgb(105, 210, 231);}
a.jobtitle:active {text-decoration: none; color: rgb(105, 210, 231);}

/*************************************************
 *  Blog Articles
 **************************************************/

.article-metadata a:hover {
  color: rgb(243, 134, 48);
}

/*************************************************
 *  Button Primary: Color Override
 **************************************************/

.btn-primary {
  border-color: rgb(243, 134, 48);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background: rgb(243, 134, 48);
}


/*************************************************
 *  Button Outlines
 **************************************************/


.btn-primary.btn-outline {
  color: rgb(243, 134, 48);
  border-color: rgb(243, 134, 48);
}

/*************************************************
 *  Navigation Bar
 **************************************************/

 .navbar-default .navbar-nav>li>a,
 .navbar-default .navbar-nav>a:focus,
 .navbar-default .navbar-nav>a:hover {
   white-space: nowrap;
   -webkit-transition: 0.2s ease;
   transition: 0.2s ease;
   color: rgb(85, 85, 102);;
   font-weight: 600;
 }

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  color: rgb(105, 210, 231);
  font-weight: 700;
  background-color: transparent !important; /* Override Bootstrap. */
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
  color: #fff;
  text-decoration: none;
  background-color: rgb(243, 134, 48);
  outline: 0;
}

@media screen and (max-width: 1200px) {

  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover {
    color: rgb(243, 134, 48);
    background-color: transparent;
  }

}

/*************************************************
 *  Toolbar Buttons
 **************************************************/


.btn-toolbar .btn.btn-primary {
  background: rgb(243, 134, 48);
}

.btn-toolbar .btn.btn-primary:hover,
.btn-toolbar .btn.btn-primary:focus {
  background-color: rgba(105, 210, 231, 0.6);
}

.btn-toolbar .btn.btn-primary:active,
.btn-toolbar .btn.btn-primary.active {
  background-color: rgba(105, 210, 231, 1);
}

/*************************************************
 *  Publications
 **************************************************/

.pub-icon {
  color: rgb(85, 85, 102);
  font-size: 0.81em;
  padding-top: 6px;
}

.pub-list-item .pub-authors {
  line-height: normal;
  font-style: normal;
  font-size: 1rem;
  color: rgb(151, 150, 157);
}

.pub-authors2 {
  line-height: normal;
  font-style: normal;
  font-size: 1rem;
  color: rgb(74, 152, 187);
}

.pub-list-item .pub-publication {
  color: rgb(111, 110, 125);
  font-size: 1rem;
}

/*FONTS*/

 html {
   font-family: 'Muli', serif;
   font-size: 16px;
   color: rgba(0,0,0,0.8);
   line-height: 1.65;
 }

.navbar-default {
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 400;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 400;
  margin-bottom: .5rem;
  line-height: 1.25;
  color: #313131;
  text-rendering: optimizeLegibility;
}

figcaption {
  display: block;
  margin-top: 0.75em;
  line-height: 1.25;
  font-size: 1rem;
  margin-bottom: 1.65rem;
  font-family: 'Julius Sans One', sans-serif;
  counter-increment: captions;
}

.section-heading p {
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  color: #b2b2b2;
}
